body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.table-container {
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 20%; /* 100% divided by 5 columns */
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}
tbody td:first-child {
  width: 10%; /* Adjust width as needed */
}
